# 네트워크
vpc_cidr            = "10.10.0.0/16"
public_subnet_cidr  = ["10.10.1.0/24", "10.10.2.0/24", "10.10.3.0/24", "10.10.4.0/24"]
private_subnet_cidr = ["10.10.5.0/24", "10.10.6.0/24", "10.10.7.0/24", "10.10.8.0/24"]

project_name = "jtbc"

# 네이밍: {environment}-{name_domain}-{name_service}-{역할}
# 예: stg-news-metaj-was-1, stg-news-metaj-cms, stg-news-metaj-s3
environment   = "stage"
name_domain   = "news"
name_service  = "metaj"
ec2_role_name     = "was"
alb_role_name     = "cms"
bastion_role_name = "bastion"

waf_allowed_ipv4_cidr = [
  "198.51.100.1/32",
]
